<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org">
<head>
    <title>tickets</title>

    <th:block th:insert="parts/headfiles :: copy"/>


</head>

<body class="bg-theme bg-theme1">

<!-- Start wrapper-->
<div id="wrapper">

    <!--Start sidebar-wrapper-->
    <th:block th:insert="parts/sidebar :: copy"></th:block>

    <!--End sidebar-wrapper-->

    <!--Start topbar header-->
    <header class="topbar-nav">
        <nav class="navbar navbar-expand fixed-top">
            <ul class="navbar-nav mr-auto align-items-center">
                <li class="nav-item">
                    <a class="nav-link toggle-menu" href="javascript:void();">
                        <i class="icon-menu menu-icon"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <form class="search-bar">
                        <input type="text" class="form-control" placeholder="Enter keywords">
                        <a href="javascript:void();"><i class="icon-magnifier"></i></a>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav align-items-center right-nav-link">
                <li class="nav-item dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void();">
                        <i class="fa fa-envelope-open-o"></i></a>
                </li>
                <li class="nav-item dropdown-lg">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void();">
                        <i class="fa fa-bell-o"></i></a>
                </li>
                <li class="nav-item language">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown"
                       href="javascript:void();"><i class="fa fa-flag"></i></a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item"><i class="flag-icon flag-icon-gb mr-2"></i> English</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-fr mr-2"></i> French</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-cn mr-2"></i> Chinese</li>
                        <li class="dropdown-item"><i class="flag-icon flag-icon-de mr-2"></i> German</li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
                        <span class="user-profile"><img src="https://via.placeholder.com/110x110" class="img-circle"
                                                        alt="user avatar"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li class="dropdown-item user-details">
                            <a href="javaScript:void();">
                                <div class="media">
                                    <div class="avatar"><img class="align-self-start mr-3"
                                                             src="https://via.placeholder.com/110x110"
                                                             alt="user avatar"></div>
                                    <div class="media-body">
                                        <h6 class="mt-2 user-title">Sarajhon Mccoy</h6>
                                        <p class="user-subtitle">mccoy@example.com</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-envelope mr-2"></i> Inbox</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-wallet mr-2"></i> Account</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-settings mr-2"></i> Setting</li>
                        <li class="dropdown-divider"></li>
                        <li class="dropdown-item"><i class="icon-power mr-2"></i> Logout</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
        <div class="container-fluid">

            <!--Start Dashboard Content-->


            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="card">
                        <div class="card-header">Tickets
                            <div class="card-action">
                                <div class="dropdown">
                                    <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret"
                                       data-toggle="dropdown">
                                        <i class="icon-options"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/tickets/ajouter" sec:authorize="hasRole('Role_Client')">Ajouter</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table align-items-center table-flush table-borderless">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Envirenement</th>
                                    <th>Logiciel</th>
                                    <th>Urgence</th>
                                    <th>Etat</th>
                                    <th>Client</th>
                                    <th>Developeur</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dat : ${data}">
                                    <td th:text="${dat.id}"></td>
                                    <td th:text="${dat.name}"></td>
                                    <td th:text="${dat.description}"></td>
                                    <td th:text="${dat.environnement}"></td>
                                    <td th:text="${dat.logiciel}"></td>
                                    <td>
                                        <div class="progress shadow" style="height: 3px;">
                                            <div th:if="${dat.urgence=='critique'}" class="progress-bar text-danger"
                                                 role="progressbar" style="width: 100%;"></div>
                                            <div th:if="${dat.urgence=='urgent'}" class="progress-bar text-warning"
                                                 role="progressbar" style="width: 80%;"></div>
                                            <div th:if="${dat.urgence=='normal'}" class="progress-bar text-primary"
                                                 role="progressbar" style="width: 40%;"></div>
                                            <div th:if="${dat.urgence=='non urgent'}" class="progress-bar"
                                                 role="progressbar" style="width: 10%;"></div>

                                        </div>
                                    </td>


                                    <td>
                                        <span th:if="${dat.etat=='ouverture'}" class="text-danger"
                                              th:classappend="${'readfield'+dat.id} ">ouverture</span>
                                        <span th:if="${dat.etat=='résolu'}" class="text-success"
                                              th:classappend="${'readfield'+dat.id}">résolu</span>
                                        <select class="form-control form-control-sm editfield" sec:authorize="hasRole('Role_Développeur')"
                                                th:classappend="${'editfield'+dat.id}" targetfield="etat"
                                                th:targetid="${dat.id}" style="display: none">
                                            <option value="ouverture" th:selected="${dat.etat eq 'ouverture'}">
                                                ouverture
                                            </option>
                                            <option value="résolu" th:selected="${dat.etat eq 'résolu'}">résolu</option>
                                        </select>
                                    </td>
                                    <!--                                    <td th:text="${dat.client.username}"></td>-->
                                    <!--                                    <td th:text="${dat.developeur.username}"></td>-->
                                    <td>
                                        <span th:if="${dat.client}!=null" th:text="${dat.client.username}"></span>
                                    </td>
                                    <td>
                                        <span th:if="${dat.developeur}!=null" th:classappend="${'readfield'+dat.id} "
                                              th:text="${dat.developeur.username}"></span>

                                        <select th:each="dev : ${devs}" class="form-control form-control-sm editfield" sec:authorize="hasRole('Role_Administrateur')"
                                                th:classappend="${'editfield'+dat.id}" targetfield="developer"
                                                th:targetid="${dat.id}" style="display: none">
                                            <option></option>

                                            <option th:value="${dev.id}" th:text="${dev.username}"
                                                    th:selected="${dat.developeur ne null && dat.developeur.id eq dev.id }"></option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="dropdown">
                                            <a href="javascript:void();" class="dropdown-toggle dropdown-toggle-nocaret"
                                               data-toggle="dropdown">
                                                <i class="icon-options"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <span class="dropdown-item deletebutton" th:target="${dat.id}"
                                                      style="cursor: pointer">Supprimer</span>
                                                <span class="dropdown-item editbutton"
                                                      th:target="${dat.id}">Modifier</span>

                                            </div>

                                        </div>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!--End Row-->

            <!--End Dashboard Content-->

            <!--start overlay-->
            <div class="overlay toggle-menu"></div>
            <!--end overlay-->

        </div>
        <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->

    <th:block th:insert="parts/footer :: copy"></th:block>

    <!--End footer-->

    <!--start color switcher-->
    <div class="right-sidebar">
        <div class="switcher-icon">
            <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
        </div>
        <div class="right-sidebar-content">

            <p class="mb-0">Gaussion Texture</p>
            <hr>

            <ul class="switcher">
                <li id="theme1"></li>
                <li id="theme2"></li>
                <li id="theme3"></li>
                <li id="theme4"></li>
                <li id="theme5"></li>
                <li id="theme6"></li>
            </ul>

            <p class="mb-0">Gradient Background</p>
            <hr>

            <ul class="switcher">
                <li id="theme7"></li>
                <li id="theme8"></li>
                <li id="theme9"></li>
                <li id="theme10"></li>
                <li id="theme11"></li>
                <li id="theme12"></li>
                <li id="theme13"></li>
                <li id="theme14"></li>
                <li id="theme15"></li>
            </ul>

        </div>
    </div>
    <!--end color switcher-->

</div><!--End wrapper-->

<div th:insert="parts/bottomfiles :: copy"></div>
<div class="modal fade" id="response-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-theme bg-theme1">
            <div class="modal-header border-0 pb-0 mb-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/tickets/supprimer" class="modal-body deleteform">
                <div class="d-flex align-items-center ">
                    <p class="mb-0 ml-3 " id="response-text" style="font-size: 20px"></p>
                </div>
                <button class="btn btn-danger mt-4">Supprimer</button>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.deletebutton').click(function () {
            $('.deleteform').attr('action', '/tickets/supprimer/' + $(this).attr('target'))
            $('#response-text').text("Vouler vous Supprimer ce ticket?")
            $('#response-modal').modal('show')
        })


        $('.editbutton').click(function () {
            $('.editfield' + $(this).attr('target')).show()
            $('.readfield' + $(this).attr('target')).hide()
        })

        $('.editfield').change(function () {
            let id = $(this).attr('targetid')
            let field = $(this).attr('targetfield')
            let newvalue = $(this).val()
            if (newvalue) {
                $.ajax({
                    url: "/tickets/modifier/" + id + "/" + field + "/" + newvalue,
                    method: 'post',
                    success: function (e) {
                        $('#response-text').text(e)
                        $('#response-modal').modal('show')

                    },
                    error: function (e) {
                        console.log(e)
                    }
                })
            }
        })
    })
</script>
</body>
</html>
